html,
body {
	margin: 0;
	height: 100%;
	font-family: "微软雅黑", "幼圆", "microsoft yahei";
}

li,
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
input {
	-webkit-text-stroke-width: 0.2px;
	stroke-width: 0.2px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/* 全局Css结束 */

#view-bg {
	z-index: -3;
	width: 100%;
	height: 100%;
	position: fixed;
	min-height: 475px;
	background-color: black;
}

#view-bg img {
	opacity: 1;
	animation: ActionBackbgFadeIn 3s;
	animation-fill-mode: forwards;
}

/* 
#view-bg-back {
	/* z-index: -2;
	width: 100%;
	height: 100%;
	position: fixed;
	min-height: 475px;
	background-color: black;
	opacity: 0.4; */

/* } */

*/ #view-page {
	background-color: unset;
	height: 100%;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	min-height: 420px;
}

#panel-login {
	height: 364px;
	width: 412px;
	background-color: white;
	padding: 32px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
	display: flex;
	flex-direction: column;
	justify-content: left;
	/* align-items: flex-start; */
	align-items: stretch;
}

#panel-title {
	max-width: 284px;
	max-height: 44px;
	margin-bottom: 20px;
}

#mptit {
	font-size: 24px;
	font-weight: 500;
}

.minput {
	width: 100%;
	padding: 6px 10px;
	border-width: 1px;
	border-color: #666;
	border-color: rgba(0, 0, 0, .6);
	height: 36px;
	outline: none;
	border-style: solid;
	background-color: rgba(255, 255, 255, .4);
	-webkit-appearance: textfield;
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	margin-bottom: 16px;
}

#panel-context {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
}

.mbutton {
	border-color: #0067b8;
	background-color: #0067b8;
	color: #fff;
	width: 100%;
	height: 36px;
	border-width: 1px;
	display: inline-block;
	min-width: 100px;
	padding: 4px 12px 4px 12px;
	margin-top: 4px;
	margin-bottom: 8px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	touch-action: manipulation;
	animation: ActionFadeIn 1s;
	animation-fill-mode: forwards;
	/* align-self: flex-end; */
}

.mbutton:hover {
	animation: ActionOut 1s;
	animation-fill-mode: forwards;
}

#copyright {
	margin-top: 4px;
	font-size: 10px;
	color: rgb(133, 133, 133);
	/* align-self: flex-end; */
}

/* phone page */

@media (max-width: 560px) {
	.phone-none {
		display: none;
	}
	#panel-login {
		width: 100%;
		height: 90%;
		box-shadow: 0 0 0 rgb(0, 0, 0);
	}
}