.Block {
	display: inline-block;
	background-color: rgb(248, 249, 251);
	border: 1px solid rgb(225, 225, 225);
	padding: 8px;
	margin-bottom: 10px;
	width: 100%;
}

.Line {
	margin: 2px 0 5px 0;
	border-bottom: 1px solid rgb(15, 15, 16);
}

.news p {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 2px;
}

.news small {
	font-family: '黑体', '微软雅黑';
	font-size: 12px;
	font-weight: 200;
	margin-left: 20px;
	;
}

.Link {
	font-size: 12px;
	font-weight: 200;
	font-family: '黑体', '微软雅黑';
}

/*通用面板*/

.Panel {
	/*border-radius: 3px;*/
	/*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);*/
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 16px;
	background-color: #fff;
	/* animation: ActionFadeIn 0.5s; 有淡入淡出动画
	animation-fill-mode: forwards; */
}

.PanelBlue {
	/*border-top: 3px solid rgba(60, 141, 188, 1);*/
}

.PanelGray {
	border-top: 3px solid #c7c7c7;
}

.PanelGreen {
	/*border-top: 3px solid #00a65a;*/
}

.PanelRed {
	/*border-top: 3px solid #e00202*/
}

.PanelTitle {
	font-family: 'Source Sans Pro', "微软雅黑", sans-serif;
	padding: 10px 12px;
	font-size: 14px;
	font-weight: 800;
	margin: 0;
	line-height: 1;
	border-bottom: 1px solid rgb(246, 246, 246);
}

.PanelBody {
	padding: 10px 12px;
	font-weight: 400;
	font-size: 12px;
}

.NextCol {
	/*padding-left: 5px;*/
}

/*面板的数据显示css*/

.LogK {
	color: #6f7376;
	font-size: 12px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.LogV {
	margin: 12px 8px 2px 8px;
	color: #6f7376;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
}

.LogCol {
	/*border-right: 1px solid #6f7376;*/
	margin-left: 8px;
	margin-right: 8px;
}

/*Minecraft 服务器列表*/

.PanelItem {
	background-color: #f5f5f5;
	padding: 8px 10px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
	cursor: pointer;
	color: #141A1D;
}

.PanelItemBlack {
	background-color: #4a4a4a;
	color: white;
}

.PanelItem:hover {
	background-color: #e6e6e6;
}

.PanelItemBlack:hover {
	background-color: #00733E;
}

.PanelItem h4 {
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 800;
}

.PanelItem p {}

.PanelItemInfo {}

.PanelItemMuem {
	float: right;
	height: 100%;
	line-height: 60px;
}

.PanelItemMuem button {
	margin-left: 8px;
}

.PanelItemF>.PanelItem {
	display: inline-block;
	margin-right: 8px;
	width: auto;
}

/*大模块*/

.PanelItemBlock {
	/*display: block;*/
	background-color: #f5f5f5;
	margin: 0px;
	padding: 8px 4px;
	cursor: pointer;
}

.PanelItemBlock:hover {
	background-color: #e6e6e6;
}

/* 专门用来覆盖 PanelItem 的特殊元素 */

.ItemTableList {
	padding: 0px 8px;
	width: 100%;
	margin-bottom: 0px;
	border-bottom: 1px solid #d8d8d8;
	background-color: initial;
}

.input-group {
	margin-bottom: 10px;
}

/*控制台*/

#MinecraftConsole {
	border: 1px solid #dddddd;
	overflow: auto;
	width: 100%;
	resize: none;
	height: 450px;
	outline: 0px;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	margin: 0px;
	padding: 3px;
	word-break: break-all;
	margin-bottom: 10px;
}

#TerminalMinecraft {
	/*border: 1px solid #dddddd;*/
	overflow: auto;
	width: 100%;
	resize: none;
	/*height: 1050px;*/
	outline: 0px;
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	margin: 0px;
	word-break: break-all;
	/*margin-bottom: 5px;*/
	color: #C0C0C0;
	/*height: 100%;*/
	padding: 4px 10px;
}

#TerminalLoad {
	color: #F7F7F7;
	font-size: 13px;
	cursor: pointer;
	position: absolute;
	left: 8px;
	background-color: rgb(212, 136, 30);
	z-index: 999;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 2px 4px;
	/*height: 12px;*/
	/*margin: 10px;*/
}

#TerminalCommand {
	font-size: 12px;
	color: white;
	width: 100%;
	/* margin: 0 8px; */
	padding: 0 10px;
	background-color: rgb(60, 60, 60);
	border: 0px;
	margin-top: 4px;
}

#Terminal div,
#Terminal input,
#Terminal a {
	font-size: 12px;
	font-weight: 500;
	/*color: #F7F7F7;*/
}

#Terminal a {
	color: white;
}

#TerminalBox {
	height: 30px;
	width: 30px;
	border-radius: 12px;
	background-color: #DCA7A7;
	line-height: 30px;
	color: white;
	position: absolute;
	right: 20px;
	bottom: 50px;
}