html,
body {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgb(220, 218, 218)
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a,
input {
	outline: none;
}

.btn {
	border-radius: 0px;
	transition: opacity 1s;
}

.btn:hover {
	opacity: 0.5;
}

/*全局css定义结束*/

#Header {
	background-color: #0D6AAD;
	height: 50px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 102;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);
}

/* logo 图片 */

#MasterLogo img {
	animation: MasterLogoTitle 10s ease infinite;
	animation-iteration-count: 100;
}

/* logo 块 */

#MasterLogo:hover {
	animation: MasterLogoImg 2s;
}

#SideCol {
	position: fixed;
	/*float: left;*/
	color: white;
	background-color: #001A35;
	z-index: 100;
	width: 180px;
	top: 50px;
	bottom: 0px;
}

#Container {
	position: absolute;
	width: auto;
	top: 10px;
	left: 180px;
	right: 0px;
}

#MainContainer {
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0px;
	z-index: 100;
	overflow: hidden;
	overflow-y: auto;
}

/* 右侧容器 */

#ConsoleMain {
	max-width: 1360px;
	margin: auto;
}

/*布局结束*/

/*标题*/

.HeaderItem {
	color: #E5E5E5;
	line-height: 50px;
	font-size: 14px;
	margin: 0;
	float: left;
	width: 180px;
	background-color: #017EBC;
	text-align: center;
}

/*标题的右侧菜单*/

.HeaderTitle {
	display: inline-block;
	*zoom: 1;
	overflow: hidden;
	text-align: center;
	line-height: 50px;
	color: rgb(252, 252, 252);
	font-size: 12px;
	padding: 0 16px;
	font-weight: 400;
}

.HeaderR {
	float: right;
}

.HeaderR div {
	display: inline-block;
	*zoom: 1;
	overflow: hidden;
	text-align: center;
	line-height: 50px;
	color: rgb(250, 250, 250);
	font-size: 12px;
	padding: 0 12px;
	cursor: pointer;
	transition: background-color 0.4s;
}

.HeaderR div:hover {
	background-color: #003c58;
}

/*左侧的菜单*/

#SideColMenu {
	height: 100%;
}

#SideColMenuInfo {
	color: #8C8C8C;
	font-size: 12px;
	padding: 12px 25px;
}

#SideColMenu a {
	display: block;
	width: 100%;
	height: 45px;
	color: white;
	background-color: #001A35;
	line-height: 45px;
	text-align: left;
	padding-left: 20px;
	font-size: 12px;
	transition: background-color 0.5s, margin-left 0.3s;
}

#SideColMenu a span {
	margin-right: 10px;
}

#SideColMenu a:hover {
	text-decoration: none;
	background-color: rgb(1, 126, 188);
	margin-left: 8px;
}

/*菜单的收缩*/

#ShowMenu {
	position: absolute;
	top: 46%;
	left: 0px;
	background-color: #4ebd2a;
	width: 8px;
	height: 70px;
	text-align: center;
	z-index: 103;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
	transition: width 0.4s, background-color 0.4s;
}

#ShowMenu:hover {
	width: 20px;
	background-color: rgb(226, 226, 0);
}

/*针对于单页的首页容器*/

.OneContainer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}

/* 可以设置不同的进入和离开动画 */

/* 设置持续时间和动画函数 */

.slide-fade-enter-active {
	transition: all .3s ease;
}

.slide-fade-leave-active {
	transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */

	{
	transform: translateX(10px);
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .4s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in below version 2.1.8 */

	{
	opacity: 0
}

/*信息框*/

.ToolsInfo {
	position: fixed;
	z-index: 102;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 90px;
	line-height: 90px;
	font-size: 14px;
	background-color: #00A7D0;
	box-shadow: 5px 2px 6px #000;
	color: #F5F5F5;
}

/*通用的可编辑的菜单项  table*/

.PropertiesList {
	font-size: 12px;
	color: #777777;
}

.PropertiesList th {
	text-align: center;
	background-color: #f8f8f8;
	border-color: #fff;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 8px 0px;
	color: #666;
}

.PropertiesList tr {
	width: 100%;
}

.PropertiesList .input-group {
	margin-bottom: 0px;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-10 {
	font-size: 10px;
}

.font-size-14 {
	font-size: 14px;
}

.ulInfo li {
	font-size: 11px;
	margin-left: -20px;
}

/*进度条CSS*/

.Toolscon {
	position: fixed;
	top: 0px;
	left: 0px;
	/*background-color: #00cc06;*/
	height: 4px;
	z-index: 999;
	width: 100%;
	overflow: hidden;
	line-height: 3px;
}

@media (max-width:640px) {
	#HeaderInfo {
		display: none;
	}
	.PhoneDisplayNone {
		display: none;
		width: 1px;
		height: 1px;
	}
}