html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  color: #1a1a1a;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  height: 100%;
}

code {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  cursor: pointer;
}

a,
input {
  outline: none;
}

.btn {
  border-radius: 0px;
  transition: opacity 1s;
}

.btn:hover {
  opacity: 0.5;
}

p {
  font-size: 13px;
}

/* 页面主要容器 */

/* #MainContainer{

} */

/*
-----------
全局css定义结束
-----------
*/

/* 菜单栏控制 */

#SideCol {
  position: fixed;
  color: white;
  background-color: rgb(36, 35, 40);
  background-image: url("../img/SideColMenu.png");
  background-repeat: repeat;
  z-index: 102;
  width: 220px;
  top: 0px;
  bottom: 0px;
  font-size: 18px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  transition: all 2s;
}

#SideCol:hover {
  background-position: 50px 0px;
}

#Container {
  margin-top: 10px;
  margin-left: 220px;
}

/* 右侧容器 */

#ConsoleMain {
  max-width: 1360px;
  margin: auto;
}

/*布局结束*/

/*标题*/

.HeaderItem {
  color: #e5e5e5;
  line-height: 50px;
  font-size: 14px;
  margin: 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

/* 菜单选择后的颜色 */

.MeumSelect {
  margin-left: 8px;
  background-color: #289804;
}

/*左侧的菜单*/

#SideColMenu {
  height: 100%;
}

#SideColMenuInfo {
  color: rgb(189, 189, 189);
  font-size: 13px;
  padding: 12px 35px;
}

#SideColMenu a {
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 45px;
  color: white;
  line-height: 45px;
  text-align: left;
  padding-left: 35px;
  font-size: 13px;
  transition: background-color 0.5s, margin-left 0.3s;
  margin: 4px 0px;
}

#SideColMenu a span {
  margin-right: 10px;
}

#SideColMenu a:hover {
  text-decoration: none;
  background-color: #1f6906;
  margin-left: 8px;
  opacity: 0.9;
}

/*菜单的收缩*/

#ShowMenu {
  position: absolute;
  top: 46%;
  left: 0px;
  background-color: #4ebd2a;
  width: 8px;
  height: 70px;
  text-align: center;
  z-index: 103;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  transition: width 0.4s, background-color 0.4s;
}

#ShowMenu:hover {
  width: 20px;
  background-color: rgb(226, 226, 0);
}

/*针对于单页的首页容器*/

.OneContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

/* 可以设置不同的进入和离开动画 */

/* 设置持续时间和动画函数 */

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0;
}

/*信息框*/

.ToolsInfo {
  position: fixed;
  z-index: 102;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 90px;
  line-height: 90px;
  font-size: 15px;
  font-weight: 400;
  background-color: #00a7d0;
  box-shadow: 5px 2px 6px #000;
  color: #f5f5f5;
}

/*通用的可编辑的菜单项  table*/

.PropertiesList {
  font-size: 12px;
  color: #777777;
}

.PropertiesList th {
  text-align: center;
  background-color: #f8f8f8;
  border-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px 0px;
  color: #666;
  word-break: break-all;
}

.PropertiesList tr {
  width: 100%;
}

.PropertiesList .input-group {
  margin-bottom: 0px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-14 {
  font-size: 14px;
}

.ulInfo li {
  font-size: 11px;
  margin-left: -20px;
}

/*进度条CSS*/

.Toolscon {
  position: fixed;
  top: 0px;
  left: 0px;
  /*background-color: #00cc06;*/
  height: 4px;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  line-height: 3px;
}

/* 手机端的导航球 */

#SidebarButton {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 42px;
  padding: 0px;
  margin: 0px;
  height: 46px;
  width: 46px;
  border-radius: 46px;
  background-color: rgb(224, 16, 61);
  text-align: center;
  color: white;
  z-index: 102;
  box-shadow: 0px 0px 8px rgba(54, 52, 52, 0.712);
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
  font-family: "Material Icons";
}

/* 普通用户按钮居中 */

.GenhomeButton {
  float: right;
  height: 100%;
  line-height: 60px;
}

/* 终端 */

#WebTerminalScreenWapper {
  border-radius: 4px;
  background-color: rgba(3, 3, 3, 0.555);
  position: fixed;
  top: 0px;
  z-index: 999;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WebTerminalScreen {
  overflow-y: auto;
  max-width: 840px;
  margin: 0 auto;
  margin-bottom: 2px;
}

#Terminal {
  margin-top: -10px;
  padding: 8px;
}

.TerminalCommand {
  background-color: rgb(60, 60, 60);
  color: white;
  font-size: 14px;
}

/* 日志历史终端 */

#LogHistoryTerminal {
  height: 80vh;
  background-color: rgb(0, 0, 0);
  overflow-y: scroll;
  color: rgb(207, 207, 207);
  padding: 4px;
  font-size: 11px;
}

@media (max-width: 800px) {
  #HeaderInfo {
    display: none;
  }
  .PhoneDisplayNone {
    display: none;
    width: 0x;
    height: 0px;
    max-width: 0px;
    max-height: 0px;
    /* opacity: 0; */
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: -1;
  }
  #SidebarButton {
    display: block;
    cursor: pointer;
  }
  #Container {
    margin-left: 0px;
  }
  #SideCol {
    box-shadow: 8px 0px 32px rgba(54, 52, 52, 0.452);
  }
  .GenhomeButton {
    text-align: center;
    display: block;
    float: none;
    height: 100%;
    line-height: 60px;
  }
}

@media (max-width: 790px) {
  .IpadDisplayNone {
    display: none;
    width: 1px;
    height: 1px;
    max-width: 1px;
    max-height: 1px;
    /* opacity: 0; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  /* 终端的手机优化 */
  #WebTerminalScreenWapper {
    padding: 0px;
    margin: 0px 0px;
  }
  .WebTerminalScreen {
    margin: -10px -8px 0px -8px;
  }
  #LogHistoryTerminal {
    font-size: 10px;
    height: 70vh;
    padding: 2px;
    margin: -10px -12px -9px -12px;
    overflow-x: scroll;
  }
}
