<div id='ServerList' class="OneContainer">
    <div class="row">
        <div class="col-md-6">
            <div class="Panel PanelBlue">
                <div class="PanelTitle">禁止登陆用户列表</div>
                <div class="PanelBody">
                    <p>这里会显示被您暂时禁止上线的用户列表，您可以自定义修改</p>
                    <div class="PanelBodyArea">
                        <textarea rows="3" cols="20">

                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    MI.rListener('onload', function () {

    });

    MI.rListener('onend', function () {});
</script>