<div id='SoftProperties' class="OneContainer">
	<div class="row">
		<div class="col-md-12 ">
			<div class="Panel PanelGreen">
				<div class="PanelTitle">控制面板配置</div>
				<div class="PanelBody">
					<div class="row">
						<div class="col-lg-12">
							<p>控制面板 - 配置文件更改</p>
							<table class='PropertiesList' width="100%">
								<tr>
									<th>设置项目字段</th>
									<th>项目解释</th>
									<th>设置值</th>
								</tr>
								<tr v-for="(val, key) in softConfig">
									<th v-text="key"></th>
									<th v-text="findKey(key)">项目解释</th>
									<th>
										<center>
											<div class="input-group  input-group-sm">
												<input type="text" class="form-control" aria-describedby="basic-addon1" v-model="softConfig[key]" />
											</div>
										</center>
									</th>
								</tr>
							</table>
							<br/>
							<div class="row">
								<div class="col-sm-12 PanelItemF">
									<p>请务必检查是否符合格式，条件，仔细检查后即可确认修改，或者直接返回到其他页面直接舍弃修改。</p>
									<p class="color-high-red">以上所有设置均需要重启 控制面板才能完全生效！</p>
									<div class="PanelItem" v-on:click="toUpdateProperties()">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 保存配置
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 ">
			<div class="Panel PanelGreen">
				<div class="PanelTitle">详细配置</div>
				<div class="PanelBody">
					<p>控制面板程序文件同目录下的 property.js 文件中有更多的配置可以修改</p>
					<p>更多配置项请查看此文件..</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	MI.rListener('onload', function () {
		MCSERVER.autoColmDo();

		VIEW_MODEL.newVue('SoftProperties', {
			el: '#SoftProperties',
			data: {

			},
			methods: {
				toUpdateProperties: function () {
					if (!this.softConfig) return;
					WS.sendMsg('soft/update', JSON.stringify(this.softConfig));
				},
				findKey: function (key) {
					var SuwingsLoveYou = {
						"__filename__": "控制面板内部使用，请勿改动！",
						'port': '控制面板程序端口号',
						'ip': '控制面板监听的ip地址，不填写则自动',
						'FTP_ip': 'FTP 服务器监听的ip地址，不填写则自动',
						'FTP_port': 'FTP 服务器端口号'
					}
					return SuwingsLoveYou[key];
				}
			}
		});
	});

	MI.rListener('onend', function () {});
</script>