<div id="MCSManagerNews" class="OneContainer">
  <div class="row">
    <div class="col-md-8">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">最新动态与信息通知</div>
        <div class="PanelBody" style="max-height: 90vh; overflow-y: scroll">
          <p>关注这里，如果出现BUG/新版本我们会立即通告 (面板自动每天定时更新)</p>
          <div class="news" v-for="item of items">
            <p class="color-gray" v-text="item.time"></p>
            <p v-text="item.msg"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">客户使用反馈</div>
        <div class="PanelBody">
          <p>如果使用中遇到任何问题或发现错误，可反馈到此:</p>
          <br />
          <p>邮箱: Suwings@outlook.com</p>
          <p>
            Github Issues:
            <a href="https://github.com/Suwings/MCSManager/issues">https://github.com/Suwings/MCSManager/</a>
          </p>
          <br />
        </div>
      </div>
      <div class="Panel">
        <div class="PanelTitle">支持开发团队</div>
        <div class="PanelBody">
          <p>
            开发者:
            <a target="_blank" href="https://github.com/Suwings">https://github.com/Suwings</a>
          </p>
          <p>
            官方网站:
            <a target="_blank" href="http://mcsmanager.com">http://mcsmanager.com</a>
          </p>
          <p>
            成为赞助者:
            <a target="_blank" href="https://afdian.net/@mcsmanager">https://afdian.net/@mcsmanager</a>
          </p>
        </div>
      </div>

      <div class="Panel">
        <div class="PanelTitle">版权所有</div>
        <div class="PanelBody">
          <p>软件由 <a href="https://github.com/Suwings/MCSManager" target="_black">Suwings</a> 开发，源代码遵循 MIT 开源协议。</p>
          <p>
            <small> 此软件相关文档对所有人免费，可以任意处置，包括使用，复制，修改，合并，发表，分发，再授权，或者销售。唯一的限制是，软件中必须包含上述版权和许可提示。 </small>
            <br />
            <small
              >A short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed
              under different terms and without source code.</small
            >
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/feelback", "genuser/home", null);

    RES.ajax({
      type: "GET",
      url: "public/news.json",
      success: function (result) {
        new Vue({
          el: "#MCSManagerNews",
          data: result,
        });
      },
    });
  });

  MI.rListener("onend", function () {});
</script>
