<div id='' class="OneContainer">
	<div class="row">
		<div class="col-sm-6">
			<div class="Panel PanelGreen">
				<div class="PanelTitle">客户使用反馈</div>
				<div class="PanelBody">
					<p>如果您使用中遇到任何问题或发现BUG错误，您可以反馈给我们:</p>
					<br>
					<p>邮箱: Suwings@outlook.com</p>
					<p>平台:
						<a target="_blank"  href="https://wj.qq.com/s/1494129/b8b5">调查问卷</a>
					</p>
					<br>
					<p>我们将立即更新下一个版本，可是我们需要当前版本更多的信息。</p>
					<br><br>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="Panel PanelGreen">
				<div class="PanelTitle">支持 Mcserver 管理器后续版本</div>
				<div class="PanelBody">
					<p>我们真诚的希望您可以资助我们一些支持资金，不论多少，所有资金将用于下一个版本.</p>
					<p>当然您也可以不资助资金帮助我们，为我们的宣传资料提供支持.</p>
					<br>
					<p>资助唯一支付宝二维码:
						<a target="_blank"  href="/public/template/component/QAQ_by_suwings.png">二维码地址</a>
					</p>
					<p>Mcbbs.net 宣传贴:
						<a target="_blank"  href="http://www.mcbbs.net/thread-140678-1-1.html">http://www.mcbbs.net/thread-140678-1-1.html</a>
					</p>
					<p>Zuimc.com 宣传贴:
						<a target="_blank"  href="http://www.zuimc.com/thread-52079-1-2.html">http://www.zuimc.com/thread-52079-1-2.html</a>
					</p>
					<p>我们欢迎您转载本软件，使用次数越高，便越有可能更早的更新后续版本.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="Panel PanelRed">
				<div class="PanelTitle">源代码开放协议</div>
				<div class="PanelBody">
					<p>后端代码闭源，为混淆加密代码，禁止修改复制和二次开发；</p>
					<p>前端基本开源，拥有丰富的注释，请遵守 MIT License.</p>
					<br>
					<p>如果您不想再看见这个页面，可以删除 template/feelback.html 文件.</p>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<script>
	MI.rListener('onload', function() {
		console.log('页面开始')

	})

	MI.rListener('onend', function() {
		console.log('页面关闭')
	})
</script>