<div id='' class="OneContainer">
	<div class="row">
		<div id='News' class="col-md-8">
			<div class="Panel PanelBlack">
				<div class="PanelTitle">最新动态与信息通知</div>
				<div class="PanelBody" style="max-height: 94vh;overflow-y: scroll;">
					<p>关注这里，如果出现BUG/新版本我们会立即通告 (面板自动每天定时更新)</p>
					<div class="news" v-for="item of items">
						<p class="color-gray" v-text="item.time"></p>
						<p v-text="item.msg"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="Panel PanelBlack">
				<div class="PanelTitle">客户使用反馈</div>
				<div class="PanelBody">
					<p>如果使用中遇到任何问题或发现错误，可反馈到此:</p>
					<br>
					<p>邮箱: Suwings@outlook.com</p>
					<p>Github:
						<a href="https://github.com/Suwings/MCSManager/issues">点击此处</a>
					</p>
					<br>

				</div>
			</div>
			<div class="Panel PanelGreen">
				<div class="PanelTitle">支持开发团队</div>
				<div class="PanelBody">
					<p>支持开发团队，支持开源项目</p>
					<p>爱发电赞助平台:
						<a target="_blank" href="https://afdian.net/@mcsmanager">https://afdian.net/@mcsmanager</a>
					</p>
					<p>资助支付宝二维码:
						<a target="_blank" href="template/other/sponsor.html">二维码地址</a>
					</p>
					<p>宣传贴:
						<a target="_blank" href="http://www.mcbbs.net/thread-140678-1-1.html">点击此处</a>
					</p>
					<p>软件所有代码与文件均可转载，修改。</p>
				</div>
			</div>

			<div class="Panel PanelRed">
				<div class="PanelTitle">开源软件</div>
				<div class="PanelBody">
					<p>项目完全开源:</p>
					<p><a href="https://github.com/Suwings/MCSManager"
							target="_blank">https://github.com/Suwings/MCSManager </a></p>
					<p>使用 MIT License</p>
					<p><small>A short and simple permissive license with conditions only requiring preservation of
							copyright and license notices. Licensed works, modifications, and larger works may be
							distributed under different terms and without source code.</small></p>
					<br>
				</div>
			</div>

		</div>
	</div>


</div>

</div>
<script>
	MI.rListener('onload', function () {
		// 定义页面地址
		TOOLS.definePage('template/feelback', '', null);

		//请求早已缓存的 最新动态
		RES.ajax({
			type: 'GET',
			url: './public/news.json',
			success: function (data) {
				VIEW_MODEL['News'] = data;
				VIEW_MODEL.newVue('News', {
					el: '#News',
				});
				MI.routeCopy('News', data);
				VIEW_MODEL.newVue('SystemUp', {
					el: '#SystemUp'
				});

			}
		});
	})

	MI.rListener('onend', function () { })
</script>