<div class="OneContainer">
  <div style="display: flex; justify-content: center; align-items: center; height: 95vh">
    <div class="Panel" style="max-width: 600px">
      <div class="PanelTitle">关于此软件</div>
      <div class="PanelBody">
        <p>此控制面板是由开源软件 MCSManager 提供技术服务，除此之外，其他任何有偿或无偿服务均与 MCSManager 无关。</p>
        <p>由 <a href="https://github.com/Suwings/MCSManager" target="_black">Suwings</a> 开发，源代码遵循 MIT 开源协议。</p>
        <p>
          <small> 此软件相关文档对所有人免费，可以任意处置，包括使用，复制，修改，合并，发表，分发，再授权，或者销售。唯一的限制是，软件中必须包含上述版权和许可提示。 </small>
          <br />
          <small
            >A short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under
            different terms and without source code.</small
          >
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/gen_about", "genuser/home", "");
  });

  MI.rListener("onend", function () {});
</script>
