<div id="" class="OneContainer">
  <div class="row">
    <div class="col-sm-6">
      <div class="Panel">
        <div class="PanelTitle">技术支持</div>
        <div class="PanelBody">
          <p>程序控制面板是 Mcserver Manager 8 提供的技术支持服务</p>
          <p>- 您当前的提供商提供服务</p>
        </div>
      </div>
    </div>
    <!--如果有需要，您可以自己修改-->
    <!--<div class="col-sm-6">
			<div class="Panel">
				<div class="PanelTitle">宿主机</div>
				<div class="PanelBody">
					<p>如有需要，这里可能会有宿主机服务商提供的信息.</p>
				</div>
			</div>
		</div>-->
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/gen_about", "genuser/home", "");
  });

  MI.rListener("onend", function () {});
</script>
