:root {
  --font-body2: 12px;
  --font-body: 14px;
  --font-h5: 16px;
  --font-h4: 20px;
  --font-h3: 24px;
  --font-h2: 30px;
  --font-h1: 36px;

  --phone-width: 992px;
  --app-max-width: 1360px;

  --color-always-white: #ffffff;
}
