a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body,
html {
    border: 0;
    margin: 0;
    height: 100%;
}

#view-bg {
    z-index: -3;
    width: 100%;
    height: 100%;
    position: fixed;
    min-height: 475px;
    background-color: black;
}

#mlogin_left {
    height: 292px;
    width: 740px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 26%;
    right: 10%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    animation: Loading1 2s;
    animation-fill-mode: forwards;
}

#mlogin_left_context {
    position: absolute;
    padding: 12px 16px;
    color: #fff;
}

.mlogin_context_footer {
    color: #666;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#mlogin_right {
    opacity: 0;
    height: 420px;
    width: 310px;
    min-height: 420px;
    background-color: #fff;
    position: absolute;
    right: 8%;
    top: -20%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    /* 动画 */
    /* Safari 和 Chrome */
    animation: Loading2 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#mlogin_center {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#mlogin_view {
    padding: 24px;
}

#mlogin_view h4 {
    font-size: 28px;
    color: #7fb2de;
}

#mlogin_form {
    margin-top: 20px;
}

.mlogin_forge {
    margin-top: 10px;
    margin-left: 6px;
    display: block;
    float: right;
}

/* 输入 */

.minput {
    width: 100%;
    padding: 6px 10px;
    border-width: 1px;
    border-color: #666;
    border-color: rgba(0, 0, 0, .6);
    height: 36px;
    outline: none;
    border-style: solid;
    background-color: rgba(255, 255, 255, .4);
    -webkit-appearance: textfield;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    margin-bottom: 10px;
}

.mbutton {
    border-color: #0067b8;
    background-color: #0067b8;
    color: #fff;
    width: 100%;
    height: 36px;
    border-width: 1px;
    display: inline-block;
    min-width: 100px;
    padding: 4px 12px 4px 12px;
    margin-top: 4px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    touch-action: manipulation;
    animation: ActionFadeIn 1s;
    animation-fill-mode: forwards;
    /* align-self: flex-end; */
}

.mbutton:hover {
    background-color: #005ea7;
}

/* 小 */

.phone {
    display: none;
}

@media (max-width: 840px) {
    #mlogin_left {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    #mlogin_right {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    .mlogin_context_footer {
        left: 24px;
    }
    .phone_not {
        display: none;
    }
    .phone {
        display: block;
    }
}

/* 动画 */

@keyframes Loading1 {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@keyframes Loading2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}