<!-- docker/res -->

<div id="DialogDockerRes" style="text-align: center">
  <p>Docker 镜像构建结果列表</p>
  <small>这里您将可以看见程序运行期间的所有 Docker 镜像构建之后结果。</small>
  <br />
  <div style="margin-top: 4px; display: inline-block; text-align: center">
    <div
      v-for="(val, key) in DockerRes"
      style="
        margin: 2px;
        display: inline-block;
        padding: 4px 8px;
        color: rgb(58, 56, 56);
        text-align: center;
        box-shadow: 0px 0px 2px #a7a7a7;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        border-radius: 2px;
        background-color: #cac9c9;
        margin-left: 8px;
        margin-bottom: 8px;
        margin-top: 0px;
      "
    >
      <span v-text=" val.time "></span> | <span v-text="val.name "></span> |
      <span v-text="val.res "></span>
    </div>
  </div>
  <div v-if="DockerRes.length==0">
    <b>暂时没有任何数据，您构建的结果到时候会在这里显示。</b>
  </div>
  <br />
  <button class="btn btn-danger" v-on:click="ok() ">关 闭</button>
</div>
<script>
  WS.sendMsg("docker/res", "", function (obj) {
    new Vue({
      el: "#DialogDockerRes ",
      data: {
        DockerRes: obj.ResponseValue,
      },
      methods: {
        ok: function () {
          TOOLS.popWindClose({});
        },
      },
    });
  });
</script>
