<div id="DialogDockerConfig">
  <p>
    <b>操作，查看此实例的 Docker 容器的配置项目</b>
  </p>
  <small>
    虚拟化容器可让服务端出租给任何人也不用担心宿主机的安危，容器会保证每个子服都拥有独立空间。
    <br />
    如果您的系统上开启了 SELinux 建议关闭 SELinux 机制或自行配置权限。
  </small>

  <p>
    <input type="checkbox" v-model="isDocker" />
    <b> <small>此服务端启用 Docker 容器（只支持 Linux 系统）</small></b>
  </p>
  <p><small>启动命令修改是无效的，只是展示等价命令效果。</small></p>
  <div class="input-group input-group-sm">
    <span class="input-group-addon" id="sizing-addon3">等价启动命令</span>
    <input type="text" class="form-control" disabled="disabled" aria-describedby="sizing-addon3" v-model="dockerCommand" />
  </div>
  <p><small>镜像名，在创建虚拟镜像时填写的名称，一般默认即可。</small></p>
  <div class="input-group input-group-sm">
    <span class="input-group-addon" id="sizing-addon3">Docker 镜像名</span>
    <input type="text" class="form-control" placeholder="可填，默认是名叫 mcsd 镜像。" aria-describedby="sizing-addon3" v-model="dockerImageName" />
  </div>
  <p>
    <small>以 GB 为单位，1G 为 1024 MB，最小 1GB 内存。不填写无限制。</small>
  </p>
  <div class="input-group input-group-sm">
    <span class="input-group-addon" id="sizing-addon3">内存限制</span>
    <input type="text" class="form-control" placeholder="可填，例如填写 2G 则代表容器最大可使用 2G 内存。" aria-describedby="sizing-addon3" v-model="dockerXmx" />
  </div>
  <p>
    <small>开放的端口,冒号左边代表容器内部端口,右边代表宿主机端口,通常保持相同即可。</small>
  </p>
  <p><small>如果任意一个端口被占用，服务器将会无法启动。多个端口用 | 分割。</small></p>
  <div class="input-group input-group-sm">
    <span class="input-group-addon" id="sizing-addon3">开放端口</span>
    <input type="text" class="form-control" placeholder="可填，例如 25565:25565/tcp|25565:25565/udp|8080:8080/tcp" aria-describedby="sizing-addon3" v-model="dockerPorts" />
  </div>
  <p>
    确认无误之后，单击保存即可 | &nbsp;
    <a href="https://github.com/Suwings/MCSManager/blob/gh-pages/Question_3.md" style="color: rgb(32, 32, 192)">什么是 Docker ?</a>
  </p>
  <button class="btn btn-success" v-on:click="ok()">保存 Docker 配置</button>
</div>
<script>
  WS.sendMsg("docker/config", PAGE.selectServerName, function (obj) {
    new Vue({
      el: "#DialogDockerConfig",
      data: obj.ResponseValue,
      methods: {
        ok: function () {
          WS.sendMsg(
            "docker/setconfig",
            JSON.stringify({
              serverName: PAGE.selectServerName,
              dockerConfig: {
                dockerCommand: this.dockerCommand.trim() || "",
                dockerImageName: this.dockerImageName.trim() || "mcsd",
                dockerXmx: this.dockerXmx.trim(),
                dockerPorts: this.dockerPorts.trim(),
                isDocker: this.isDocker,
              },
            })
          );
          TOOLS.popWindClose();
        },
      },
    });
  });
</script>
