<p>
    这是计划任务时间表达式生成器</p>
<samll>旨在简化计划任务时间表达式的书写，十分简单</samll>
<hr>
<div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">每隔秒数</span>
        <input type="text" class="form-control" placeholder="单位秒" aria-describedby="sizing-addon3">
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">执行次数</span>
        <input type="text" class="form-control" placeholder="0 代表无限，其他正整数代表次数" aria-describedby="sizing-addon3">
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">执行指令</span>
        <input type="text" class="form-control" placeholder="与服务器命令一样，不要加 \ 符号" aria-describedby="sizing-addon3">
    </div>
    <button class="btn btn-success">
        确认并生成
    </button>
    <button class="btn btn-danger">
        取消
    </button>
</div>