<div id='NewDockerImage' class="OneContainer">
    <div class="col-md-12 ">
        <div class="Panel">
            <div class="PanelTitle">基于 DockerFile 创建镜像</div>
            <div class="PanelBody">
                <div class="row">
                    <div class="col-md-12">
                        <p>创建新的 Docker 镜像</p>
                        <small>您不需要具备 Docker 专业知识，最简单的方法是，您只需要填写一个名字即可。
                            <br>其他选项请给有需求与具备相关知识的人员填写。
                        </small>
                        <h4>DockerFile 文件</h4>
                        <p>DockerFile 可以供你定制与参考，使用 DockerFile 来生成 Docker 镜像，随后使用镜像名与指定的服务端文件，就可以在 Docker 中开启 Minecraft 服务器。</p>
                        <p style="color:red;">必须使用 /mcsd 作为工作目录。 如需修改请直接修改，切勿粘贴复制文本，否则容易粘贴富文本代码！</p>
                        <pre id="dockerfile" contenteditable="true" autocomplete="off">FROM java:latest
RUN mkdir -p /mcsd
RUN echo "Asia/Shanghai" > /etc/timezone;dpkg-reconfigure -f noninteractive tzdata
WORKDIR /mcsd
RUN apt-get update</pre>

                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon3">Docker 镜像名</span>
                            <input type="text" autocomplete="off" class="form-control" placeholder="可填，默认 mcsd 镜像名" aria-describedby="sizing-addon3"
                                v-model="dockerImageName">
                        </div>
                        <p>
                            确认无误之后，单击新建镜像按钮，但是这需要一定时间的等待，创建完成后 MCSM 会通知您。
                        </p>
                        <p>
                            <b>
                                <span style="color: red">这需要联网下载文件构建，构建时间根据网速决定，大小约 700 MB，可能需要一段时间，可以关闭网页控制台，任务完成后，可以在结果列表按钮处查看结果。</span>
                            </b>
                        </p>
                        <button v-bind:disabled="createDockerDis" class="btn btn-primary" v-on:click="createDocker()">
                            创建 Docker 镜像
                        </button>
                        <button class="btn btn-success" v-on:click="toCreateRes()">
                            任务结果列表
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    MI.rListener('onload', function () {
        new Vue({
            el: "#NewDockerImage",
            data: {
                dockerImageName: "",
                createDockerDis: false
            },
            methods: {
                createDocker: function () {
                    console.log("FUNCTION createDocker")
                    var obj = {
                        dockerImageName: this.dockerImageName || 'mcsd',
                        dockerfile: $('#dockerfile').html()
                    };
                    if (!TOOLS.isStdText(obj.dockerImageName)) {
                        TOOLS.pushMsgWindow("镜像名字不合法！仅限字母数字下划线！");
                        return;
                    }
                    this.createDockerDis = true;
                    WS.sendMsg('docker/new', JSON.stringify(obj));
                },
                toCreateRes: function () {
                    TOOLS.popWind({
                        style: {
                            maxWidth: "400px",
                            top: "0px",

                        },
                        title: "Docker 构建结果",
                        template: "template/dialog/docker_res.html",
                        callback: function () {}
                    });
                }
            }
        });
    });

    MI.rListener('onend', function () {

    });
</script>