<div id='NewSchedule' class="OneContainer">
    <div class="col-md-12 ">
        <div class="Panel">
            <div class="PanelTitle">计划任务项目表达式</div>
            <div class="PanelBody">
                <div class="row">
                    <div class="col-md-12">
                        <p>这是此 {{id}} 计划任务项目的表达式</p>
                        <table class="PropertiesList">
                            <tr>
                                <th>间隔表达式</th>
                                <th>次数</th>
                                <th>任务指令</th>
                            </tr>
                            <tr>
                                <th>
                                    <input style="width: 90%;" type="text" v-model="time" placeholder="[必填]">
                                </th>
                                <th>
                                    <input style="width: 90%;" type="text" v-model="count" placeholder="[必填]">
                                </th>
                                <th>
                                    <input style="width: 100%;" type="text" v-model="commande" placeholder="如: stop,say Hello,__start__ 等等">
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="col-sm-12 PanelItemF">
                        <div class="PanelItem" v-on:click="toSave()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 新建/重构
                        </div>
                        <div class="PanelItem" v-on:click="toBack()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 放弃并返回
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Panel PanelBlue">
            <div class="PanelTitle">计划任务项目参数手册</div>
            <div class="PanelBody">
                <div class="row">
                    <div class="col-md-12">
                        <p>这是服务器 {{servername}} 的其中一个计划任务项目控制。</p>
                        <p>这里是计划任务项目的所有数据，请根据您的需要更改，如果不知如何更改，请仔细阅读下面说明:</p>
                        <p>
                            <b>任务时间间隔</b>
                        </p>
                        <p>如果您使用过 Linux 的 crontab 命令，您会发现它的用法非常相似。总共有 6 个 * 号，其中按照顺序代表不同的时间，分别是 秒，分，时，每月第几天，第几个月，每周第几天</p>
                        <p>如果您不会使用这个，请按照以下修改：</p>
                        <p>
                            <code> */20 */2 * * * * </code> &nbsp;代表每隔 2 分钟的一分钟内每隔 20 秒执行一次
                            <br />
                            <code> */1 * * * * * </code> &nbsp;代表每 1 秒钟执行一次 (1~59)
                            <br />
                            <code> 1 */5 * * * * </code> &nbsp;代表每 5 分钟的第一秒时执行一次 (1~59)
                            <br />
                            <code> 1 1 */4 * * * </code> &nbsp;代表每 4 小时第一分钟第一秒时执行一次 (1~24)
                            <br />
                            <code> 1 1 1 */2 * * </code> &nbsp;代表每 2 天的（同理）执行一次 (1~31)
                        </p>
                        <p>其他的您基本使用不到，无需学习过多。</p>
                        <p>
                            <b>任务次数</b>
                        </p>
                        <p>数字 0 代表重复任务，不断执行，直到您手动删除掉它。</p>
                        <p>数字大于 0 代表计次任务，代表着执行多少次之后自动删除。</p>
                        <p>注意：如果在计次次数未归零前，控制面板被关闭，我们只能重新计次。</p>
                        <p>
                            <b>任务指令</b>
                        </p>
                        <p>向 Minecraft 服务器一样，正常的输入命令即可，切记不要加
                            <code>/</code>
                        </p>
                        <p>特殊指令：__start__ 代表开启服务器，__restart__ 代表重启服务器。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    MI.rListener('onload', function () {
        let servername = MCSERVER.listenServername;
        let obj = MCSERVER.website.schedule.nowdata || {};
        new Vue({
            el: "#NewSchedule",
            data: {
                id: obj.id || "",
                time: obj.time || "* * * * * *",
                count: obj.count || 0,
                commande: obj.commande || "",
                servername: servername
            },
            methods: {
                toBack: function () {
                    RES.redirectPage('./template/component/schedule.html', 'schedule/list',
                        servername);
                },
                toSave: function () {
                    if (this.id.length >= 1) {
                        //如果是修改，则删除原先的，再创建一个新的
                        WS.sendMsg('schedule/delete', JSON.stringify({
                            id: this.id,
                            servername: this.servername
                        }));
                    }
                    WS.sendMsg('schedule/create', JSON.stringify({
                        id: this.id || "",
                        time: this.time || "",
                        count: this.count || 0,
                        commande: this.commande || "",
                        servername: this.servername
                    }));
                    this.toBack();
                }
            }
        });
    });

    MI.rListener('onend', function () {
        VIEW_MODEL['ServerSchedule'] = null;
    });
</script>