<div id='ServerProperties' class="OneContainer">
	<div class="row">
		<div class="col-md-12 ">
			<div class="Panel PanelBlue">
				<div class="PanelTitle">服务器计划任务</div>
				<div class="PanelBody">
					<div class="row">
						<div class="col-sm-12 PanelItemF">
							<p>您可以进行如下操作:</p>
							<div class="PanelItem" v-on:click="toBackConsole()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 返回到控制台
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<p>服务器的计划任务集合</p>
							<p>
								凡是 __xxx__ 格式的命令均是内部命令，不影响使用，请勿乱使用，以防错误
							</p>
							<table class='PropertiesList' width="100%">
								<tr>
									<th>任务序号</th>
									<th>任务性质</th>
									<th>执行命令</th>
								</tr>
								<tr>
									<th>XXXXXX_15451654561</th>
									<th>计次任务</th>
									<th>
										stop
									</th>
								</tr>
								<tr>
									<th>XXXXXX_11548645641</th>
									<th>重复任务</th>
									<th>
										__RESTART__
									</th>
								</tr>
							</table>
							<br/>
							<div class="row">
								<div class="col-sm-12 PanelItemF">
									<div class="PanelItem" v-on:click="toBackConsole()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 返回到控制台
									</div>
									<hr>
									<p>最后，请检查是否符合格式，条件，仔细检查后即可确认修改，或者直接返回到其他页面直接舍弃修改。</p>
									<p>如果显示不全或不是最新，您可以单击 [重新刷新读取] 来进行获取更新，设置完毕请重启服务器。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	// MI.rListener('onload', function () {
	// 	// MCSERVER.autoColmDo();

	// 	VIEW_MODEL.newVue('ServerProperties', {
	// 		el: '#ServerProperties',
	// 		methods: {
	// 			toBackConsole: function () {
	// 				RES.redirectPage('./template/component/console.html', 'server/console', this.serverName);
	// 			}
	// 		}
	// 	});
	// });

	// MI.rListener('onend', function () {
	// 	VIEW_MODEL['ServerProperties'] = null;
	// });
</script>