<div id='ServerPanel' class="OneContainer">
	<div class="row">
		<div class="col-md-3">
			<div class="Panel">
				<div class="PanelTitle">服务器信息</div>
				<div class="PanelBody">
					<!--右侧-->
					<div class="row">
						<div class="col-md-12">
							<div class="PanelItem">标识名: {{ name }}</div>
							<div class="PanelItem">创建时间: {{ createDate }}</div>
							<div class="PanelItem" v-if="run">状况:
								<span class="color-green">正在运行</span>
							</div>
							<div class="PanelItem" v-else="run">状况: 未运行</div>
							<div class="PanelItem">最后启动: {{ lastDate }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="Panel">
				<div class="PanelTitle">基本参数</div>
				<div class="PanelBody">
					<!--left侧-->
					<div class="row">
						<div class="col-md-6">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">服务器唯一标识名</span>
								<input type="text" class="form-control" v-model="name" placeholder="<未设定>">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon">Java 路径</span>
								<input v-bind:disabled="isHighCommande" type="text" class="form-control" v-model="java" placeholder="<未设定>">
							</div>
							<p>端根目录: [ {{ cwd }} ] </p>
							<div class="input-group input-group-sm">
								<span class="input-group-addon"> 服务端文件名 </span>
								<input v-bind:disabled="isHighCommande" type="text" class="form-control" v-model="jarName" placeholder="<未设定>">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">启动附加参数</span>
								<input v-bind:disabled="isHighCommande" type="text" class="form-control" v-model="addCmd" placeholder="<无>">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon">服务器根目录</span>
								<input type="text" class="form-control" v-model="cwd">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon"> 最大内存堆 </span>
								<input v-bind:disabled="isHighCommande" type="text" class="form-control" v-model="Xmx" placeholder="<自动>">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon"> 初始内存堆 </span>
								<input v-bind:disabled="isHighCommande" type="text" class="form-control" v-model="Xms" placeholder="<自动>">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<p>完全自定义启动参数 (针对特殊需求)</p>
							<ul class="ulInfo">
								<li>仅限于一行，各个参数之间使用 空格分割，尽可能保证正确</li>
								<li>必须添加 -Djline.terminal=jline.UnsupportedTerminal 参数在 -jar 之前，否则可能导致命令传递失效</li>
								<li>一旦使用这个自定义参数，将会忽略您上面所设置的所有选项</li>
								<li>您设定的自定义启动参数依然会将服务端根目录作为工作目录来执行命令</li>
								<li>甚至可以运行 bash shell 或 cmd.exe 程序,谨慎设置</li>
								<li>列如: java -xxx -yyy Xmx4g Xms2g
									<span class="color-red">-Djline.terminal=jline.UnsupportedTerminal</span> -jar test.jar --xxx 这类高级需求</li>
							</ul>
							<div class="input-group input-group-sm">
								<span class="input-group-addon"> 自定义参数 </span>
								<input type="text" class="form-control" v-model="highCommande" placeholder="<尚未使用>">
							</div>
						</div>
						<br />
					</div>
				</div>
			</div>
			<!--底部-->
			<div class="Panel">
				<div class="PanelTitle">保存与更新</div>
				<div class="PanelBody">
					<div class="row">
						<div class="col-lg-12">
							<p>普通用户无权修改任何服务器的启动参数，仅仅可修改 Minecraft 相关配置。</p>
							<div class="Line"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="" style="float: right;margin-top: 20px;">
								<button class="btn btn-primary" v-on:click="toConsole(name)">控制面板</button>
								<button class="btn btn-success" v-on:click="toRebulider()">更新设置</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	MI.rListener('onload', function () {
		VIEW_MODEL.newVue('ServerPanel', {
			el: '#ServerPanel',
			data: {
				oldServerName: '',
				isHighCommande: false
			},
			methods: {
				toConsole: function (serverName) {
					RES.redirectPage('./template/component/console.html', 'server/console', this.oldServerName);
				},
				toRebulider: function () {
					var addCmdList = this.addCmd.split(' ');
					if (!TOOLS.isStdText(this.name)) {
						TOOLS.pushMsgWindow("服务器名字不合法！仅限字母数字下划线！");
						return;
					}
					var obj = {
						addCmd: addCmdList,
						serverName: this.name,
						jarName: this.jarName,
						cwd: this.cwd,
						Xmx: this.Xmx,
						Xms: this.Xms,
						java: this.java,
						highCommande: this.highCommande,
						oldServerName: this.oldServerName
					};
					WS.sendMsg('server/rebulider', JSON.stringify(obj));
					setTimeout(function () {
						RES.redirectPage('./template/server.html', 'server/view');
					}, 100);
				}
			},
			watch: {
				highCommande: function (newQuestion) {
					if (this.highCommande) {
						this.isHighCommande = true;
					} else {
						this.isHighCommande = false;
					}
				}
			}
		});
		VIEW_MODEL['ServerPanel'].addCmd = VIEW_MODEL['ServerPanel'].addCmd.toString().replace(/,/gim, ' ');
		VIEW_MODEL[
			'ServerPanel'].oldServerName = VIEW_MODEL['ServerPanel'].name + "";

	});

	MI.rListener('onend', function () {});
</script>