<div id='OneUserView' class="OneContainer">
	<div class="Panel PanelGreen">
		<div class="PanelItem">用户 {{ username }} 信息与配置</div>
		<div class="PanelBody">
			<div class="row">
				<div class="col-sm-3">
					<p>基础展示信息</p>
					<div class="PanelItem">创建时间 {{ createDate }}</div>
					<div class="PanelItem">最后上线 {{ lastDate }}</div>
					<div class="PanelItem">拥有的服务器 {{ ServerLen }} 个</div>
				</div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5">
							<p>用户名 [字母 数字 下划线] (6~18位)</p>
							<div class="input-group input-group-sm">
								<span class="input-group-addon"> 用户名 </span>
								<input type="text" class="form-control" v-model="username">
							</div>
						</div>
						<div class="col-sm-7">
							<p>密码 [字母 数字 下划线] (6~18位) 注意* 显示 “未更改” 代表不改动本身密码</p>
							<div class="input-group input-group-sm">
								<span class="input-group-addon"> 账号密码 </span>
								<input type="text" class="form-control" v-model="password" placeholder="[未更改 您可以直接从这里重设此用户的密码]">
							</div>
						</div>
					</div>

					<p>准许的服务器，输入服务器名字，分别以空格分割</p>
					<p>注意，如果是以#开头的最高权限账号，则可以无条件访问任何服务器</p>
					<div class="input-group input-group-sm">
						<span class="input-group-addon"> 准许的服务器 </span>
						<input type="text" class="form-control" v-model="allowedServer" placeholder="[无]">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<br>
					<br>
					<br>
					<p>您可以重新配置这个用户</p>
					<p>警告:修改用户名时请务必减少此类操作，如果当前用户在线的话，很有可能会导致意外的错误，因为用户已经使用原用户名登陆，请确保用户不在线的情况下修改用户名.</p>
					<div class="Line"></div>
					<div class="PanelItemMuem">
						<button class="btn btn-success" v-on:click="toUpdate()">更新配置</button>
						<button class="btn btn-danger" v-on:click="toDeleteUser()">删除此用户</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	MI.rListener('onload', function () {
		VIEW_MODEL.newVue('OneUserView', {
			el: '#OneUserView',
			data: {
				ServerLen: 0,
				password: '',
				oldUsername: ''
			},
			methods: {
				toUpdate: function () {
					var allowedServers = this.allowedServer.trim().split(' ');
					var obj = {
						newUsername: this.username,
						newPassword: this.password,
						allowedServer: allowedServers,
						username: this.oldUsername
					}
					WS.sendMsg('userset/upinfo', JSON.stringify(obj));
					//返回到上层
					RES.redirectPage('./template/userset.html', 'userset/update');
				},
				toDeleteUser: function (itemUsername) {
					var obj = {
						username: this.oldUsername
					};
					WS.sendMsg('userset/delete', JSON.stringify(obj), function () {
						RES.redirectPage('./template/userset.html', 'userset/update');
					});
				}
			},

		});
		var viewModel = VIEW_MODEL['OneUserView'];
		viewModel.oldUsername = viewModel.username + " ";
		viewModel.ServerLen = viewModel.allowedServer.length;
		viewModel.allowedServer = viewModel.allowedServer.toString().replace(/,/gim, ' ');
	});

	MI.rListener('onend', function () {});
</script>