body,
html {
    font-family: "微软雅黑";
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
}

h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

.mbg {
    height: 100%;
}

.mtitle,
.mcontext {
    color: rgb(94, 94, 94);
}

.mtitle {
    font-family: monospace;
    text-shadow: 1px 1px 1px rgb(196, 196, 196);
    font-size: 36px;
    font-weight: 800;
    margin-top: 24px;
    animation: action_logo 15s;
    animation-iteration-count: 999;
    animation-direction: alternate;
}

#mtitlean {
    /* animation: action_cur 2s;
    animation-iteration-count: 999; */
}

.mcontext {
    font-size: 20px;
    padding-right: 2px;
    display: block;
}

#mlogo {
    background-size: cover;
    background-repeat: no-repeat;
}

.mrow {
    margin-top: 12px;
}

.mfooter {
    margin-top: 40px;
    color: rgb(122, 122, 122);
    text-align: left;
    font-size: 12px;
}

/* 动画 */

@keyframes action_logo {
    0% {
        color: rgb(201, 25, 25);
    }
    25% {
        color: rgb(197, 197, 22);
    }
    50% {
        color: rgb(34, 150, 218);
    }
    100% {
        color: rgb(46, 214, 46);
    }
}

@keyframes action_cur {
    0% {
        border-right: 2px solid red;
    }
    25% {
        border-right: 2px solid rgb(255, 255, 255);
    }
    50% {
        border-right: 2px solid red;
    }
    100% {
        border-right: 2px solid rgb(255, 255, 255);
    }
}

@media (max-width:760px) {
    .phonenot {
        display: none;
    }
    .phone {
        display: block;
    }
}

pre,
xmp,
plaintext,
listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: initial;
    border: 0px;
    /* border-radius: 4px; */
}