body,
html {
    font-family: "微软雅黑";
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
}

h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

.mbg {
    height: 100%;
}

.mtitle,
.mcontext {
    color: rgb(94, 94, 94);
}

.mtitle {
    font-family: "黑体" "微软雅黑";
    text-shadow: 1px 1px 1px rgb(196, 196, 196);
    font-size: 36px;
    font-weight: 800;
    margin-top: 24px;
}

.mcontext {
    font-size: 20px;
}

#mlogo {
    /* background-image: url("./small_logo.png"); */
    background-size: cover;
    background-repeat: no-repeat;
}

.mrow {
    margin-top: 12px;
}

.mfooter {
    margin-top: 20px;
    color: rgb(122, 122, 122);
    text-align: left;
}